<div class="row">
  <div class="colm-form">
    <div class="form-container">
      <form [formGroup]="loginForm">
        <h2>Login</h2>
        <div class="form-field">
          <mat-form-field appearance="fill">
            <input
              type="text"
              matInput
              placeholder="Email"
              autocomplete="off"
              formControlName="email"
            />
          </mat-form-field>
          <div *ngIf="isFormSubmitted && formValue.email.errors">
            <span
              *ngIf="formValue.email.errors.required"
              class="invalid-feedback"
            >
              Email is required.
            </span>
            <span
              *ngIf="formValue.email.errors.pattern"
              class="invalid-feedback"
            >
              Email must be a valid email address.
            </span>
          </div>
        </div>

        <div class="form-field">
          <mat-form-field appearance="fill">
            <input
              type="password"
              matInput
              placeholder="Password"
              formControlName="password"
            />
          </mat-form-field>
          <div
            *ngIf="isFormSubmitted && formValue['password'].errors"
            class="invalid-feedback"
          >
            <span *ngIf="formValue['password'].errors.required">
              Password is required.
            </span>
            <span *ngIf="formValue['password'].errors.minlength">
              Password must be at least 4 characters
            </span>
          </div>
        </div>
      </form>
      <button class="btn-login" (click)="submitDetail()">Login</button>
      <a>Forgotten password?</a>
      <button class="btn-new" routerLink="/register">Create new Account</button>
    </div>
  </div>
</div>
